@charset "UTF-8";


@font-face {
    font-family: 'Calculator Font';
    src: url(fonte/Calculator.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
}

@media screen and (min-width: 993px) {
    body {
        height: 100vh;
        padding: 33px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    textarea {
        font-family: 'Calculator Font';
        text-align: right;
        font-size: 70px;
        margin-bottom: 20px;
        resize: none;
        overflow-y: hidden;
        white-space: nowrap;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        /* pensar mais sobre isso que parece que está indo no caminho certo. */
        
    }

    /*
    textarea::-webkit-scrollbar {
        display: flex;
        flex-direction: row;
        position: end;
    }
    */

   

    div.calculadora {
        display: grid;
        background-color: gray;
        height: 79vh;
        margin: 0 auto;
        max-width: 500px;
        padding: 33px;
        border-radius: 20px;
        box-shadow: 2px 1px 6px black;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "tela         tela        tela         tela        tela          "
        "button7      button8     button9      .           buttonVezes   "
        "button4      button5     button6      buttonRe    buttonDividido"
        "button1      button2     button3      buttonMais  buttonMenos   "
        "button0      buttonPonto buttonIgual  buttonMais  buttonMenos   "
        ;

    }
}


@media screen and (min-width: 769px)  and (max-width: 992px){
    body {
        height: 100vh;
        padding: 33px;
    }

    textarea {
        font-family: 'Calculator Font';
        font-size: 70px;
        text-align: right;
        resize: none;
        overflow-y: hidden;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    div.calculadora {
        max-width: 500px;
        background-color: lightgray;
        margin: 0 auto;
        height: 79vh;
        padding: 33px;
        border-radius: 20px;
        box-shadow: 1px 3px 5px black;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "tela      tela          tela          tela        tela          "
        "button7   button8       button9       .           buttonVezes   "
        "button4   button5       button6       buttonRe    buttonDividido"
        "button1   button2       button3       buttonMais  buttonMenos   "
        "button0   buttonPonto   buttonIgual   buttonMais  buttonMenos   "
        ;
    }
}



@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        padding: 33px;
    }

    
    
    h1 {
        text-align: center;
        margin-bottom: 33px;
    }

    textarea {
        font-family: 'Calculator Font';
        font-size: 70px;
        text-align: right;
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: -10px;
        resize: none;
        overflow-y: hidden;
    }

    div.calculadora {
        background-color: gray;
        margin: 0 auto;
        max-width: 500px;
        height: 70vh;
        padding: 33px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px black;
    }

    div.calculadora {
        display: grid;
        grid-gap: .3rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "tela       tela          tela            tela         tela          "
        "button7    button8       button9         .            buttonVezes   "
        "button4    button5       button6         buttonRe     buttonDividido"
        "button1    button2       button3         buttonMenos  buttonMais    "
        "button0    buttonPonto   buttonIgual     buttonMenos  buttonMais    "
        ;

    }

    
}


@media screen and (max-width: 653px) {

    textarea {
        font-family: 'Calculator Font';
        margin-bottom: 20px;
        font-size: 70px;
        text-align: right;
        font-weight: normal;
        resize: none;
        overflow-y: hidden;
        overflow-wrap: normal;
        
       
        
        
        

    
    }

    
    div.calculadora {
        display: grid;
        background-color: gray;
        padding: 33px;
        border-radius: 20px;
        box-shadow: 2px 1px 6px black;
        grid-gap: .1rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "tela      tela          tela          tela                 tela           "
        "button7   button8       button9       .                    buttonVezes    "
        "button4   button5       button6       buttonRe             buttonDividido "
        "button1   button2       button3       buttonMais           buttonMenos    "
        "button0   buttonPonto   buttonIgual   buttonMais           buttonMenos    "
        ;

    }
    

   
}

textarea#telaCalculadora {
    grid-area: tela;
}

button#id7 {
    grid-area: button7;
}

button#id8 {
    grid-area: button8;
}

button#id9 {
    grid-area: button9
}

button#id4 {
    grid-area: button4;
}

button#id5 {
    grid-area: button5;
}

button#id6 {
    grid-area: button6;
}

button#idre {
    grid-area: buttonRe;
}

button#id1 {
    grid-area: button1;
}

button#id2 {
    grid-area: button2;
}

button#id3 {
    grid-area: button3;
}

button#id0 {
    grid-area: button0;
}

button#idponto {
    grid-area: buttonPonto;
}

button#idigual {
    grid-area: buttonIgual;
}

button#idmenos {
    grid-area: buttonMenos;
}

button#idvezes {
    grid-area: buttonVezes;
}

button#iddividido {
    grid-area: buttonDividido;
}

button#idmais {
    grid-area: buttonMais;
}

